$black: #000000;
$black-5: #0d0d0d;
$black-10: #1a1a1a;
$black-15: #262626;
$black-20: #333333;
$black-25: #404040;
$black-30: #4d4d4d;
$black-35: #595959;
$black-40: #666666;
$black-45: #737373;
$black-50: #808080;
$black-55: #8c8c8c;
$black-60: #999999;
$black-65: #a6a6a6;
$black-70: #b3b3b3;
$black-75: #bfbfbf;
$black-80: #cccccc;
$black-85: #d9d9d9;
$black-90: #e6e6e6;
$black-95: #f2f2f2;
$white: #ffffff;

$screen-width: 800px;

$red-100: #ba3030;
$red-200: #ad2f31;
$red-300: #992d33;
$red-400: #8a2b34;
$red-500: #782a35;

$blue-100: #09203f;
$blue-200: #1e223d;
$blue-300: #23223c;
