* {
  scroll-behavior: smooth;
}

.nav-item i {
  padding: 5px;
  font-size: 1.2em;
}

.nav-item {
  margin-left: 5px;
}

.intro {
  padding: 0;
  min-height: 200px;
  background: #eee;
}

.box i,
footer i {
  font-size: 1.5em;
}

.email {
  text-decoration: none;
  color: white;
}

.email:hover {
  text-decoration: none;
  color: white;
}
